<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top topnav">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="Brand" src="~/Content/img/Google-Play-Music-Icon-1.png" />
            </a>
            @Html.ActionLink( "Music Store", "Index", "Disks", new { area = "" }, new { @class = "navbar-brand" } )
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink( "Disks", "Index", "Disks" )</li>
                <li>@Html.ActionLink( "Genres", "Index", "Genres" )</li>
                <li>@Html.ActionLink( "Artists", "Index", "Artists" )</li>
                <li>@Html.ActionLink( "Purchases", "Index", "Purchases" )</li>
            </ul>
        </div>
    </div>
    </div>

    <div class="container body-content">
        @RenderBody( )
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Пороблено в Україні</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>